<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../public/css/nprogress.css">
  <link rel="stylesheet" href="./public/layui/css/layui.css">
</head>

<body>
  {{ include './common/head.html' }}

  <!-- 引入左边侧边栏 -->
  {{ include './common/side.html' }}

  <div class="layui-body">
    <h1 style="margin-top: 60px;">文章添加</h1>
    <!-- 内容主体区域 -->
    <div style="padding: 15px;">
      <form class="layui-form" action="" lay-filter='formDemo'>

        <input type="hidden" name="cover" id="cover">
        <div class="layui-form-item">
          <label class="layui-form-label">标题</label>
          <div class="layui-input-inline">
            <input type="text" name="name" lay-verify="required" placeholder="分类名称" autocomplete="off"
              class="layui-input">
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">文章封面</label>
          <div class="layui-input-inline">

            <button type="button" class="layui-btn" id="cover_img">
              <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">预览</label>
          <div class="layui-input-inline">

            <img src="" alt="" id="preview">
          </div>
        </div>

        <div style="position: relative;">
          <div class="layui-form-item">
            <label class="layui-form-label">所属分类</label>
            <div class="layui-input-block">
              <select id="cat_id" name="cat_id" lay-verify='require'>
                <!-- <option value=""></option>
                 <option value="0">玄幻</option>
                 <option value="1">都市</option>
                 <option value="2">历史</option> -->
              </select>
            </div>
          </div>
        </div>


        <div class="layui-form-item">
          <label class="layui-form-label">状态</label>
          <div class="layui-input-block">
            <input type="radio" name="sex" value="0" title="未发布" checked>
            <input type="radio" name="sex" value="1" title="发布">
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">内容</label>
          <div class="layui-input-block">
            <div id="content"></div>
          </div>
        </div>
        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">添加</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- 引入左边侧边栏 -->
  {{ include './common/footer.html' }}

  <script src="/public/js/moment.js"></script>
  <script src="/public/js/jquery.js"></script>
  <script src="./public/layui/layui.js"></script>
  <script src="/public/js/util.js"></script>
  <script src="/public/js/nprogress.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/wangeditor@latest/dist/wangEditor.min.js"></script>

  <script>

    let url = location.href
    let reg = /cat_id=(.*)&?/;

    let [, cat_id] = [...reg.exec(url)];

    var form = layui.form;
    layui.use(['element', 'form', 'layer', 'laydate', 'upload'], function () {
      var element = layui.element;
      var layer = layui.layer;

      var laydate = layui.laydate
      var upload = layui.upload;

      //执行实例
      var uploadInst = upload.render({
        elem: '#cover_img' //绑定元素
        , url: '/upload/' //上传接口
        , done: function ({ code, message, src }) {
          //上传完毕回调
          if (code == 0) {
            $('#preview').attr('src', src).css('width', '100')
            $('#cover').val(src)
          }
        }
        , error: function () {
          //请求异常回调
        }
      });


      form.on('submit(formDemo)', function (data) {
        let formData = data.filed;
        formData.content = editor.txt.html();
        $.post('postArt', formData, ({ errcode, message }) => {
          if (errcode == 0) {
            location.href = '/article_index'
          }
          layer.msg(message)
        }, 'json')
        return false
      })


      // 请求数据
      function loadAll() {
        $.get('/getCateData', (res) => {
          let op = `<option lay-value=""></option>`
          res.forEach(v => {
            op += `<option lay-value="${v.cat_id}">${v.name}</option>`

          })
          $("#cat_id").html(op)
          form.render()

          getNow()

        }, 'json')
      }
      loadAll()

      function getNow() {
        $.get('/getOneArt', { art_id }, (res) => {
          let { title, content, status, cover, cat_id } = res;
          cover && $('#preview').attr('src', cover)
          editor.txt.html(content)
          form.val('formDemo', {
            title,
            status,
            cat_id
          })
        })
      }
      //  初始化时间
      laydate.render({
        elem: '#add_date',
        type: "datetime"
      });

    })

    const E = window.wangEditor
    const editor = new E("#content")
    // 或者 const editor = new E(document.getElementById('div1'))
    editor.create()


  </script>

</body>

</html>