<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  <link rel="stylesheet" href="../../public/layui/css/layui.css">

 
	</style>

</head>
<body id="body">
    <div class="layui-header">
        <div class="layui-logo">layui 后台布局</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
          <li class="layui-nav-item"><a href="">控制台</a></li>
          <li class="layui-nav-item"><a href="">商品管理</a></li>
          <li class="layui-nav-item"><a href="">用户</a></li>
          <li class="layui-nav-item">
            <a href="javascript:;">其它系统</a>
            <dl class="layui-nav-child">
              <dd><a href="">邮件管理</a></dd>
              <dd><a href="">消息管理</a></dd>
              <dd><a href="">授权管理</a></dd>
            </dl>
          </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
          <li class="layui-nav-item">
            <a href="javascript:;">
              <img src="
              " id="avatar" class="layui-nav-img">
               <span id="username">...</span>
            </a>
            <dl class="layui-nav-child">
              <dd><a href="javascript:;" onclick="updUserInfor()">基本资料</a></dd>
              <dd><a href="">安全设置</a></dd>
            </dl>
          </li>
          <li class="layui-nav-item"><a onclick="return confirm('是否退出')" href="/logout" id="logout">退出</a></li>
        </ul>
        <!--用户信息模板-->
     
      </div>

    
    
</body>
<script src="../jquery.js"></script>
<script src="../../public/layui/layui.all.js"></script>
<script>

let userInforTpl = `
      <form id="userInforTpl"  class="layui-form" action="" style="padding:20px;">
          <div class="layui-form-item">
            <label class="layui-form-label">用户名</label>
            <div class="layui-input-inline">
              <!-- <input type="text" name="username" class="layui-input" disabled  autocomplete="off" > -->
              <div id="form-username" style="display:flex;align-items: center;" class="layui-input"></div>
            </div>
          </div>
          <div class="layui-form-item">
            <label class="layui-form-label">头像</label>
            <div class="layui-input-inline">
                <img src="" alt="" id='avatar-preview' style="width:100px">
            </div>
            <button type="button" class="layui-btn" id="uploadAvatar">上传图片</button>
           
          </div>
          
          <div class="layui-form-item">
            <div class="layui-input-block">
              <button type="submit" class="layui-btn" lay-submit="" lay-filter="demo1">保存</button>
              <button type="reset" class="layui-btn layui-btn-primary">取消</button>
            </div>
          </div>
        </form>`;

   window.onload = function(){
    let userInfor =JSON.parse( localStorage.getItem('userInfor') || '{}');
    let avatar = userInfor.avatar || '/public/images/default.png'
  
    // 设置用户信息
    document.getElementById('username').innerHTML = userInfor.username;
    document.getElementById('avatar').src = avatar;
    // 回显用户名
    $('#form-username').html(userInfor.username)

    layui.use(['layer','form','upload'],function(){
      let layer = layui.layer;
      let form = layui.form;
      let upload = layui.upload;

  // 退出后台页面
         
  document.getElementById('logout').onclick = function(){
    $.get('/logout',(res)=>{
      localStorage.clear();
      layer.msg(res.message);
      location.href = '/login'
    })
  }
    })
  }



   // 弹窗显示用户信息
   function updUserInfor(){
     layer.open({
       title:'个人信息',
       type:1,
       skin : 'layui-layer-rim',
       area: ['720px','660px'],
       content: userInforTpl,
       success:function(){
         // 修改头像
         $('#userInforTpl').find('#form-username').html(userInfor.username)
         $('#userInforTpl #avatar-preview').attr('src',avatar)
         
         initUpload(upload,layer);
       }
     })
   }

window['showUserInfor'] = showUserInfor

  function initUpload(upload,layer){
    var uploadSub = upload.render({
      elem: '#uploadAvatar'
      ,url: '/upload'
      ,done: function(res){
        if(res.code == 0){
          let src = res.src;
          $('#userInforTpl #avatar-preview').attr('src',src)

          $.post('/updateAvatar',{avatar:src},(res)=>{
            let {code,message} = res;
            if(code == 0){
              layer.msg(message);
              $('#avatar').attr('src',src);
              // 更改本地头像
              let oldUserInfor = JSON.parse(localStorage.getItem('userInfor') || '{}')

              oldUserInfor.avatar = src;
              localStorage.setItem('userInfor',JSON.stringify(oldUserInfor))

            }
          },'json')
        }
      }
    })
  }


</script>
</html>